<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="home"
        text=""
        slot="start"
        icon="caret-back-outline"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-button
      slot="end"
      color="danger"
      class="logout"
      (click)="logout()"
      fill="clear"
    >
      <ion-icon name="power"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label
      ><ion-button color="medium" (click)="first()">
        <b>Ofer Mall</b>
      </ion-button></ion-label
    >

    <ion-badge color="success">99 - Available Parks</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label
      ><ion-button color="medium"><b>Yes Planet</b> </ion-button></ion-label
    >
    <ion-badge color="success">120 - Available Parks</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label
      ><ion-button color="medium">
        <b>Grand Mall </b>
      </ion-button></ion-label
    >
    <ion-badge color="success">34 - Available Parks</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label
      ><ion-button color="medium">
        <b>Big Kiryat Ata </b>
      </ion-button></ion-label
    >
    <ion-badge color="success">80 - Available Parks</ion-badge>
  </ion-item>

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light" class="tabs">
      <ion-tab-button routerLink="/locations">
        <ion-icon name="pin-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>Locations</strong></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="bottom">
        <ion-icon name="pricetags-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>My Reservations</strong></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="bottom">
        <ion-icon name="information-circle-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>About</strong></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
