<ion-header>
  <ion-toolbar>
    <ion-title
      ><img
        src="https://www.yesplanet.co.il/xmedia/img/10100/logo.svg"
        width="140px"
    /></ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="locations"
        text=""
        icon="caret-back-outline"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-button
      slot="end"
      color="danger"
      class="logout"
      (click)="logout()"
      fill="clear"
    >
      <ion-icon name="power"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-header style="text-align: center">
  <ion-toolbar>
    <ion-button color="success" [disabled]="!UserStatus" (click)="onMyWay()"
      >Arrived at the spot &nbsp;<ion-icon name="ticket-outline"></ion-icon
    ></ion-button>
    <br />
    <ion-label class="ion-text-wrap" color="success">
      <b>Confirm your arrival</b>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-header style="text-align: center"
  ><ion-toolbar>
    <ion-button (click)="refresh()"
      ><ion-icon name="refresh-circle-outline"></ion-icon
      ><ion-label>Refresh The Park</ion-label>
    </ion-button>
    <br />
    <ion-label class="ion-text-wrap" color="secondary">
      <b> Refresh the page to update the park info</b>
    </ion-label>
  </ion-toolbar></ion-header
>
<ion-router-outlet id="menu"></ion-router-outlet>
<ion-content>
  <ion-grid>
    <div *ngFor="let parkD1 of LeftData | async; index as i">
      <div *ngFor="let parkD2 of RightData | async; index as j">
        <ion-row class="row" *ngIf="i==9 && j==9">
          <ion-col class="colD1">
            <ion-button
              [color]="parkD1.Color"
              fill="clear"
              (click)="presentAlertConfirmDisabilityLeft(parkD1)"
              ><img src="assets/chair1.png" class="img" /><b
                >{{parkD1.ParkName}}</b
              ></ion-button
            >
          </ion-col>
          <ion-col class="street">|</ion-col>
          <ion-col class="colD2">
            <ion-button
              [color]=" parkD2.Color"
              fill="clear"
              (click)="presentAlertConfirmDisabilityRight(parkD2)"
              ><img src="assets/chair1.png" class="img" /><b
                >{{parkD2.ParkName}}</b
              ></ion-button
            >
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div *ngFor="let parkL of LeftData | async; index as i">
      <div *ngFor="let parkR of RightData | async; index as j">
        <ion-row class="row" *ngIf="i==j && i!=9 && j!=9">
          <ion-col class="col">
            <ion-button
              [color]="parkL.Color"
              fill="clear"
              (click)="presentAlertConfirmLeft(parkL)"
              ><b>{{parkL.ParkName}}</b></ion-button
            >
          </ion-col>
          <ion-col class="street">|</ion-col>
          <ion-col class="col2">
            <ion-button
              [color]="parkR.Color"
              fill="clear"
              (click)="presentAlertConfirmRight(parkR)"
              ><b>{{parkR.ParkName}}</b></ion-button
            >
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>

  <ion-toolbar>
    <ion-button class="header" color="warning" (click)="parkA()">
      <ion-icon name="caret-back-circle-outline"></ion-icon><b>Go To Park A</b>
    </ion-button>
    <ion-button color="warning" class="forward" disabled
      ><b>You are in Park B</b>
    </ion-button>
  </ion-toolbar>

  <ion-footer>
    <ion-tabs class="tabs">
      <ion-tab-bar slot="bottom" color="light" class="tabs">
        <ion-tab-button routerLink="/home">
          <ion-icon name="home-outline" color="medium"></ion-icon>
          <ion-label color="medium"><strong>Home Page</strong></ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/locations">
          <ion-icon name="pin-outline" color="medium"></ion-icon>
          <ion-label color="medium"><strong>Locations</strong></ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/myaccount">
          <ion-icon name="person-circle-outline" color="medium"></ion-icon>
          <ion-label color="medium"><strong>My Account</strong></ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/settings">
          <ion-icon name="settings-outline" color="medium"></ion-icon>
          <ion-label color="medium"><strong>Settings</strong></ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-footer>
</ion-content>
