<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="home"
        text=""
        slot="start"
        icon="caret-back-outline"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>My Account</ion-title>
    <ion-button
      slot="end"
      color="danger"
      class="logout"
      (click)="logout()"
      fill="clear"
    >
      <ion-icon name="power"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let info of Mine | async">
    <ion-text>{{info.Name}}</ion-text>
    <br />
    <ion-text>{{info.Email}}</ion-text>
    <br />
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light" class="tabs">
      <ion-tab-button routerLink="/home">
        <ion-icon name="home-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>Home Page</strong></ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/locations">
        <ion-icon name="pin-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>Locations</strong></ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/myaccount">
        <ion-icon name="person-circle-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>My Account</strong></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
