<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="home"
        text=""
        slot="start"
        icon="caret-back-outline"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>My Account</ion-title>
    <ion-button
      slot="end"
      color="danger"
      class="logout"
      (click)="logout()"
      fill="clear"
    >
      <ion-icon name="power"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
