.card {
  box-shadow: 0 50px 30px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;
}

.card:hover {
  color: white;
}

ion-tab-bar {
  border-top: black;
  border-left: white;
  border-bottom: white;
  border-right: white;
  border-style: solid;
  border-width: 2px;
}
