.col {
    background-color: #959595;
    border: 5px white dashed;
    border-left: hidden;
    padding: 10px;
    text-align: right;
}

.col2 {
    background-color: #959595;
    border: 5px white dashed;
    border-right: hidden;
    padding: 10px;
    text-align: left;
}

.row {
    <<<<<<< HEAD background-color: #959595;
    border: solid 2px #ddd;
    padding: 10px;
    =======background-color: #959595;
    padding: 10px;
    border: hidden;
    >>>>>>>6bf902126e9d67c96b06f1f2750e5aef677990b9
}

.colD {
    <<<<<<< HEAD background-color: blue;
    border: 5px #ddd dashed;
    border-left: hidden;
    padding: 10px;
    =======background-color: #3f2bff;
    border: 5px white dashed;
    border-left: hidden;
    padding: 10px;
    text-align: right;
}

.street {
    font-size: 50px;
    text-align: center;
    color: white;
}

.forward {
    padding-left: 260px;
    >>>>>>>6bf902126e9d67c96b06f1f2750e5aef677990b9
}

.right {
    float: right;
    text-align: right;
}