.col {
  background-color: #959595;
  border: 5px white dashed;
  border-left: hidden;
  padding: 10px;
  text-align: right;
}
.col2 {
  background-color: #959595;
  border: 5px white dashed;
  border-right: hidden;
  padding: 10px;
  text-align: left;
}
.row {
  background-color: #959595;
  padding: 10px;
  border: hidden;
}
.colD {
  background-color: #3f2bff;
  border: 5px white dashed;
  border-left: hidden;
  padding: 10px;
  text-align: right;
}
.street {
  font-size: 50px;
  text-align: center;
  color: white;
}

.forward {
  padding-left: 310px;
}
