.col {
    background-color: #959595;
    border: 5px #ddd dashed;
    border-left: hidden;
    padding: 10px;
}

.col2 {
    background-color: #959595;
    border: 5px #ddd dashed;
    border-right: hidden;
    padding: 10px;
}

.row {
    background-color: #959595;
    border: solid 2px #ddd;
    padding: 10px;
}

.colD {
    background-color: blue;
    border: 5px #ddd dashed;
    border-left: hidden;
    padding: 10px;
}

.right {
    float: right;
    text-align: right;
}