<ion-header>
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
    <ion-button
      slot="end"
      color="danger"
      class="logout"
      (click)="logout()"
      fill="clear"
    >
      <ion-icon name="power"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <img src="assets/logoo.png" class="img" style="width: 100px" />

    <ion-card-content class="cardText">
      If you want to update or add any info about yourself please contact us via
      this E-mails:<br />
      <b> zsalama07@gmail.com ammarroseline@gmail.com</b>
    </ion-card-content>
  </ion-card>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light" class="tabs">
      <ion-tab-button routerLink="/home">
        <ion-icon name="home-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>Home Page</strong></ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/locations">
        <ion-icon name="pin-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>Locations</strong></ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/myaccount">
        <ion-icon name="person-circle-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>My Account</strong></ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/settings">
        <ion-icon name="settings-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>Settings</strong></ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/contactus">
        <ion-icon name="call-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>Contact Us</strong></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
