<ion-header>
  <ion-toolbar>
    <ion-button
      slot="end"
      color="danger"
      class="logout"
      (click)="logout()"
      fill="clear"
    >
      <ion-icon name="power"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="card">
    <img src="assets/logoo.png" class="img" style="width: 100px" />
    <ion-card-header>
      <ion-card-title class="center">Parkaholic</ion-card-title>
    </ion-card-header>

    <ion-card-content class="cardText">
      Welcome to our newly developed app. This app saves you so much time in
      searching for a parking spot in Israeli malls.<br /><br />
      Choose
      <b>Locations </b> from the tabs below
      <b> <ion-icon name="arrow-down"></ion-icon></b>
      so you can reserve a spot immediatley.
    </ion-card-content>
  </ion-card>

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light" class="tabs">
      <ion-tab-button routerLink="/locations">
        <ion-icon name="pin-outline" color="medium" class="shadow"></ion-icon>
        <ion-label color="medium"><strong>Locations</strong></ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/lol">
        <ion-icon name="pricetags-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>My Reservations</strong></ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/myaccount">
        <ion-icon name="person-circle-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>My Account</strong></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
