<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-header>
      <img src="assets/logo.png" class="img" style="width: 100px" />
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="text-align: center">Parkaholic</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input
          placeholder="Full Name"
          #nameSignup
          [(ngModel)]="name"
          type="text"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input
          placeholder="Email"
          type="email"
          #emailSignup
          [(ngModel)]="email"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input
          placeholder="Password"
          type="password"
          #passwordSignup
          required
          [(ngModel)]="password"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input
          placeholder="Confirm Password"
          type="password"
          #passwordSignup
          required
          [(ngModel)]="confirmPassword"
          (ionChange)="checkPassword()"
        ></ion-input>
        <ion-text *ngIf="password && !passwordMatch" color="danger"
          ><ion-icon name="close-circle-outline" color="danger"></ion-icon
        ></ion-text>
        <ion-text *ngIf="password && passwordMatch" color="success"
          ><ion-icon
            name="checkmark-done-circle-outline"
            color="success"
          ></ion-icon
        ></ion-text>
      </ion-item>
      <br />
      <ion-item>
        <ion-input
          placeholder="Date Of Birth"
          type="Date"
          #dobSignup
          required
          [(ngModel)]="dateOfBirth"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input
          placeholder="Phone Number"
          type="text"
          #numberSignup
          required
          [(ngModel)]="phoneNumber"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input
          placeholder="Car Number"
          type="text"
          #carnumSignup
          required
          [(ngModel)]="carNumber"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input
          placeholder="Handicap Placard"
          type="text"
          required
          [(ngModel)]="handiCap"
        ></ion-input>
      </ion-item>
      <br />
      <ion-button
        (click)="register()"
        [disabled]="!passwordMatch"
        expand="block"
        color="primary"
        ><b>Register</b></ion-button
      >
      <ion-button expand="block" color="warning" (click)="signIn()"
        ><b>Alreay have an account ? Sign In Here</b></ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
