<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label><strong>Light/Dark Mode</strong></ion-label>

    <ion-toggle (ionChange)="toggleTheme($event)" slot="end"> </ion-toggle>
  </ion-item>

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light" class="tabs">
      <ion-tab-button routerLink="/home">
        <ion-icon name="home-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>Home Page</strong></ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/locations">
        <ion-icon name="pin-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>Locations</strong></ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/myaccount">
        <ion-icon name="person-circle-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>My Account</strong></ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/settings">
        <ion-icon name="settings-outline" color="medium"></ion-icon>
        <ion-label color="medium"><strong>Settings</strong></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs></ion-content
>
